# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Venvs
.venv/
venv/

# Streamlit
.streamlit/

# Git
.git/
.gitignore

# OS / Editor
.DS_Store
*.swp
*.swo
.vscode/
.idea/

# Notebooks checkpoints
.ipynb_checkpoints/

# Build artifacts
build/
dist/
*.egg-info/

# Local env
.env
.env.*
secrets.toml


